body
{
	background: rgba(58, 58, 58, 0.5);
}

h1 {
	font-size: 120px;
	font-style: italic;
	font-weight: 1000;
	line-height:124px;
}
p{
	font-size:21px;
	font-family:SF Compact;
}
a:hover{
	color:red;
}
@font-face{
	font-family:"SF-Compact"
	src:
		url ('SF-Compact.ttf')format('ttf');

}
a{
	font-family: SF Compact;
	font-size: 60px;

}